.container {
 width: 250px;
 height: 259px;
 padding: 16px;
 background: linear-gradient(180deg, #CCCCCC 0%, #EEEEEE 100%);
 border: 1px solid #A3A3A3;
 border-radius: 5px;
}

.text01 dd { 
  float: left;
  clear: both;
  margin-left:0;
}

.container span {
 width: 72px;
 height: 23px;
 font-weight: 700;
 font-size: 15px;
 line-height: 150%;
}

.text02 dt {
 font-weight: 700;
 font-size: 14px;
 color: #296897;
 margin:0;
 margin-right: 12px;
}

.text02 dd  { 
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin:0;
  margin-right: 12px;
}


.text03 dd { 
  float: right;
  clear: both;
  margin-left: 0;
  margin-top:12px;
}


.text04 dt {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #296897;
  margin-right:143px;
  margin-top:12px;
 }
 
 .text04 dd  { 
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
   margin-left:0px; 
 }
 

