.site{
  position: relative;
  box-sizing: border-box;
  width: 190px;
  padding: 12px;
  background: linear-gradient(180deg, #CCCCCC 0%, #EEEEEE 100%);
  border: 1px solid #A3A3A3;
  border-radius: 5px;
}

.site__rank {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  margin:0;
}

.accentTitle {
  color:#ED552F
}


.splite{
  background: url(./rank1.png) no-repeat;

}

.splite1{
  background-position: right 7px;
}

.splite2{
  background-position: right -36px;
}

.splite3{
  background-position: right -15px;
}

.splite4{
  background-position: right 7px;
}


.site__list{
  list-style-type: none;
  padding:0;
  margin: 8px 0 0 0; 
}
.list__number {
  display: inline-block;
  text-align: center;
  font-size: 11px;
  color:white;
  margin: 4px;
  width: 16px;
  background: #A3A3A3;
  border-radius: 5px;
  
}

.site__link {
  font-size: 11px;
  line-height: 150%;
  text-decoration: none;
  color: black;
}

.site__more {
  position: absolute;
  right:0px;
  top:0px;
  margin: 12px 12px 0 0;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
}



